.logo {
    font-weight: 500;
    font-size: 40px;
}

.navbar {
    position: sticky;
    border-bottom: 1px solid;
    z-index: 100;
    background-color: white;
    top: 0;
}

.navbarButtons {
    display: flex;
    gap: 1rem;
    margin: auto 0 auto 0;
}