APP_ENV=prod
ENV=prod
LOCAL_CONFIG_PATH=/config/prod.yaml
LOG_LEVEL=info

POSTGRES_USER=papaya
POSTGRES_PASSWORD=papaya_password
POSTGRES_DB=papaya
POSTGRES_HOST=db
PG_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

SECRET=change_me
UPLOADS_PATH=/uploads/

SERVER_API_URL=http://backend:8888
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_MODE=prod
