APP_ENV=prod
ENV=prod
LOCAL_CONFIG_PATH=/config/prod.yaml
LOG_LEVEL=info

POSTGRES_USER=papaya
POSTGRES_PASSWORD=papaya_password
POSTGRES_DB=papaya
POSTGRES_HOST=db
PG_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

CLICKHOUSE_ENABLED=true
CLICKHOUSE_ADDRESS=clickhouse:9000
CLICKHOUSE_USER=papaya
CLICKHOUSE_PASSWORD=papaya_analytics_password

SECRET=change_me
UPLOADS_PATH=/uploads/
DEV_USER_ROLE=admin
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax

SERVER_API_URL=http://backend:8888
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_MODE=prod
